* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  max-height: 90vh;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./image/Grupo1.png');
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  /* filter: brightness(30%); */
}

.content-capa {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.content-capa h1 {
  color: #FFF;
  font-family: B612, sans-serif;
  font-size: 100px;
}

.content-capa h3 {
  font-family: B612, sans-serif;
  color: #FFF;
  font-size: 20px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: red; */
  height: 300px;
  width: 80vw;
}

.content-text {
  display: flex;
  flex-direction: column;
  width: 55vw;
  height: 200px;
  /* background-color: blue; */
}

.content-text p {
  font-family: B612, sans-serif;
  color: #FFF;
  margin-bottom: 20px;
}

.content img {
  height: 200px;
  width: 160px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate img {
  width: 100px ;
  height: 25px;
}

.button {
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 40px;

}

.button a {
  color: #FFF;
  font-family: b612, sans-serif;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid transparent;
  height: 40px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 5px 0;
}

.button .movie {
  background-color: #0072D2;
}

.button .movie:hover {
  background-color: rgb(240, 55, 55);
}


.button .trailer {
  background-color: #131318;
}

.button .trailer:hover {
  background-color: rgb(240, 55, 55);
}